/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fffbf6;
}

h1 {
  color: #352a1b;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

h2 {
  color: #352a1b;
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

h3 {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
}

h4 {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}

p {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  margin: 20px;
}

/*links*/
a {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  margin: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.overskrift {
  text-align: center;
}
/*Banner på forsiden med 1. semster multimediedesign*/
.banner {
  background-color: #edd2d0;
  text-align: center;
}
/*Giver luft rundt om billederne på forsiden*/
.forside_billede {
  padding: 20px;
}
/*Footer*/
.footer {
  color: black;
  background-color: #edd2d0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
