/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #fffbf6;
}

main {
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  color: #352a1b;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-align: center;
}

h2 {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
}

h3 {
  color: #352a1b;
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

h4 {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}

p {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  margin: 20px;
}

/*links*/
a {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  margin: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*Banner på forsiden med 1. semster multimediedesign*/
.banner {
  background-color: #edd2d0;
  text-align: center;
}

/*Overskriften på siderne om mig, portfolio og temaer*/
#overskift_h2 {
  background-color: #edd2d0;
  padding: 0 100px;
}

/*Mit navn på siden om mig*/
#navn {
  text-align: center;
}

/*Knap*/
.button {
  background-color: #edd2d0;
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-style: normal;
  padding: 7px 50px;
  border-color: #e4aaa6;
  border-radius: 5px;
  margin: 10px;
}
/*Knap når mus er på*/
.button:hover {
  background-color: #e1c6c4;
  border-color: #daa29e;
  font-weight: bold;
}

/*Opdelingsstreg på siden*/
.devider {
  color: #a7937a;
}
/*Giver luft rundt om billederne på forsiden*/
.mobile {
  padding-left: 10px;
  padding-right: 10px;
}

/*Videoen på siden om mig*/
.my-video {
  max-width: 450px;
  padding-left: 10px;
  padding-right: 10px;
  display: block; /* vigtigt */
  margin: 0 auto; /* centrer */
}

/*Footer*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #352a1b;
  text-align: center;
  background-color: #edd2d0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.programmer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* ✅ centrerer billedet */
  text-align: center;
}

.programmer img {
  display: block;
  width: 90px;
}

.grid_1_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.folder {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* ✅ centrerer billedet */
  text-align: center;
}

/*Formen rundt om formen, section*/
.boks {
  grid-template-columns: 1fr;
  text-align: center;
  padding: 25px;
  margin: 0 auto; /* centrerer horisontalt */
  justify-content: center;
  background-color: #ece1d4;
}

/*Der hvor man skriver sine oplysninger*/
input,
textarea {
  border-radius: 9px;
  border: 1px solid #352a1b;
  padding: 5px;
  background-color: #fffbf6;
  width: 300px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
}

/*Teksten over input*/
label {
  color: #352a1b;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  margin: 7px;
  text-align: left;
}

/*Rød farve når der er intastet forkert information*/
.error-message {
  color: darkred;
  margin: 0;
}

/* Form layout */
form {
  display: grid;
  gap: 10px;
  padding: 10px;

  .form-group {
    display: grid;
    gap: 10px;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}

/* Valideringsregler */
/* Skjul fejlmeddelelsen som standard */
.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}
/* Tilføj rød kant omkring input-feltet, hvis det er ugyldigt */
.form-group:has(:user-invalid) {
  input {
    outline: 1px solid #f005;
    border-color: darkred;
  }
  /* Vis fejlmeddelelsen, hvis feltet er ugyldigt */
  .error-message {
    display: block;
  }
}
