@media screen and (min-width: 1000px) {
  h1 {
    font-size: 150px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }
}
