/*General*/
@media screen and (min-width: 900px) {
  html {
    max-width: 1350px;
    margin: 0 auto; /* centrer */
  }
  h1 {
    font-size: 110px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 25px;
  }

  p {
    font-size: 17px;
  }

  li {
    font-size: 17px;
  }

  .mobile {
    padding: 0;
  }

  .my-video {
    max-width: 1100px;
    padding: 0;
  }

  .monster {
    width: 400px;
  }
}

/*Grids*/
@media screen and (min-width: 900px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }
  /*Denne gør at teksten på forsiden sidder i midten af gridet*/
  #tekst {
    grid-column: 1;
    grid-row: 1;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }
  .grid_1_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .tekst_2 {
    grid-column: 2;
    grid-row: 2;
  }

  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
  }
}

/*Design for popover*/
@media screen and (min-width: 900px) {
  .pop {
    width: 1200px;
    margin: 0;
  }

  .pop :nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }

  .pop :nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }

  .pop :nth-child(3) {
    grid-row: 3;
    grid-column: 1;
  }

  .pop :nth-child(4) {
    grid-row: 1/3;
    grid-column: 2;
  }

  .pop :nth-child(5) {
    grid-row: 3;
    grid-column: 2;
  }
}

/*Burger-menu*/
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #fffbf6;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/*Forms*/
@media screen and (min-width: 900px) {
  input,
  textarea {
    width: 500px;
  }

  label {
    font-size: 17px;
  }
}
